@page
@model LoginModel

<div class="col-md-12">
    <div class="standard-box">
        <h1 class="standard-header">
            <span class="text">Login</span>
            <span class="btn-group">
                <a class="btn btn-lg btn-danger tiles-view active" asp-action="Index">Voltar</a>
            </span>
        </h1>
        <form class="form-horizontal form-register" id="account" method="post">
            <div class="form-register-header">
                <h2 class="text-center no-margin">Digite as credenciais para entrar</h2>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <hr>
                    </div>
                </div>
                @*<p class="text-center"><small>Already Signed Up? Click <a href="#">Sign In</a> to login your account.</small></p>*@

                @*<div asp-validation-summary="All" class="text-danger"></div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

                @*Em vez de eu escrever 'All ou ModelOnly' eu creio um viecomponent q mostra os dois tanto da view quanto do backend*@
                @*isso é um ViewComponent - vc significa viewcomponet e Sumary é o nome do component*@
                <vc:Summary></vc:Summary>
            </div>
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group has-feedback">
                <label asp-for="Input.Email" class="col-sm-3 control-label"></label>
                <div class="col-sm-6">
                    <input asp-for="Input.Email" class="form-control" placeholder="Email">
                    <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label asp-for="Input.Password" class="col-sm-3 control-label"></label>
                <div class="col-sm-6">
                    <input asp-for="Input.Password" class="form-control" placeholder="Senha">
                    <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-6">
                    <input asp-for="Input.RememberMe" />
                    Lembrar-me
                    @*@Html.DisplayNameFor(m => m.Input.RememberMe)*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <button type="submit" class="btn standard-hover-effect bg-red btn-lg btn-block">
                        <span class="text">Entrar <i class="fa fa-arrow-right"></i></span>
                    </button>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-6">
                    @*<p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                    </p>*@
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Ainda não é cadastrado?</a>
                    </p>
                    @*<p>
                        <button type="submit" asp-page-handler="SendVerificationEmail" class="btn-link" style="padding:0px;margin:0px;border:0px">Reenviar confirmação de e-mail</button>
                    </p>*@
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@*<h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <button type="submit" asp-page-handler="SendVerificationEmail" class="btn-link" style="padding:0px;margin:0px;border:0px">Resend email confirmation</button>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@

